*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

body {
  min-height: 100dvh;
  max-width: 100dvw;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  justify-content: center;
}

main {
  flex: 1;
}

/* nav {
  position: relative;
}

.drop-down-menu {
  position: relative;
  z-index: 2;
} */

.slide-show {
  width: clamp(300px, 75%, 750px);
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.slide-show button {
  flex: 1;
  padding-inline: 1rem;
  background: none;
  border: none;
  font-size: xx-large;
}

.slide-show button:hover {
  background-color: #eee;
}

.slide-frame {
  position: relative;
  aspect-ratio: 1.5;
  /* margin-inline: auto; */
  border-radius: 0.5rem;
  background: none;
  overflow: hidden;
}

.slides-container {
  position: relative;
  left: 0;
  animation-duration: 1s;
  height: 100%;
  width: 500%;
  display: flex;
  /* gap: 0.5rem; */
}

.slides-container img {
  height: 100%;
  width: 20%;
  object-fit: cover;
}

.circles-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.circles-container button {
  padding: 0.25rem;
  border-radius: 50%;
  border: 1px solid;
  background: none;
}

.circles-container button:hover {
  background-color: #eee;
}

.hidden {
  display: none;
}

button.active {
  background-color: #333;
}

/* outline: 5px solid red; */
